.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 64px;
  gap: 10px;
  color: var(--pure-white);
  & > span {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    transition: opacity 0.2s;
  }

  &:hover {
    color: var(--pure-white);
  }
}

.image {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
}

:global(.ant-layout-sider-collapsed) .logo span {
  opacity: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}
